body {
  font-family: "News Cycle", sans-serif;
  padding: 0 2em;
}

h1, h2, h3, h4 ,h5, h6 {
  font-family: "Roboto", sans-serif;
}

nav {
  font-size: 4em;
  text-transform: uppercase;
}

nav li a {
  color: #000;
}

nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

nav ul ul {
  font-size: 0.5em;
  height: auto;
  margin-left: 1em;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  transition: max-height 700ms, max-width 700ms;
}

nav ul ul.open {
  max-height: 300px;
  max-width: 100%;
}

#img-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.works-img {
  max-width: 95%;
}

.works-img-item {
  display: inline-block;
  list-style: none;
  text-align: center;
  width: calc(100% / 3);
}

#main-logo {
  transition: margin-top 700ms, max-width 700ms;
  max-width: 25%;
}

#main-logo.home {
  margin-top: 15%;
  max-width: 100%;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.modal-container {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s;
  visibility: hidden;
  z-index: 999;

  &.modal-contents {
    background: #ffffff;
    left: 50%;
    padding: 2em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}
